body{
    font-family: 'Comfortaa', cursive;
font-family: 'Nunito Sans', sans-serif;
}

.container{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 95%;
}
.hex-colors{
    border: 1px solid black;
    text-align: center;
}
.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: changecolor 5s infinite alternate;
}
.hex-colors h2{
    border: 1px solid black;
    font-size: 2rem;
    margin-top:15%;
}
@keyframes changecolor {
    0%{
        color: indigo;
    }
    20%{
        color: blue;
    }
    40%{
        color: green;
    }
    60%{
        color: yellow;
    }
    80%{
        color: orange;
    }
    100%{
        color: red;
    }
}